/* Estilos generales */
body {
    font-family: Arial, sans-serif;
    background-color: #333;
    margin: 0;
    padding: 0;
    color: #fff;
}

.container {
    max-width: 400px;
    margin: 0 auto;
    padding: 20px;
    background-color: rgba(255, 255, 255, 0.9);
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    border-radius: 5px;
}

h1 {
    text-align: center;
    color: #007bff;
}

/* Estilos para la lista de tareas */
#app {
    text-align: center;
    margin-top: 20px;
}

input[type="text"] {
    padding: 10px;
    width: 70%;
    margin-right: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 16px;
    color: #333;
    background-color: rgba(255, 255, 255, 0.9);
}

select {
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 16px;
    color: #333;
    background-color: rgba(255, 255, 255, 0.9);
}

button#addTaskButton {
    padding: 10px 20px;
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
}

ul {
    list-style-type: none;
    padding: 0;
}

li {
    margin: 10px 0;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: #fff; /* Cambia el color del texto de la tarea a blanco */
}

button.delete-button {
    padding: 5px 10px;
    background-color: #dc3545;
    margin-right: 10px;
    color: black; /* Cambia el color del texto a negro */
    border: none;
    border-radius: 5px;
    font-size: 14px;
    cursor: pointer;
    

button.edit-button {
    background-color: #ffc107;
    padding: 5px 10px;
    margin-right: 10px;
    color: black; /* Cambia el color del texto a negro */
    border: none;
    border-radius: 5px;
    font-size: 14px;
    cursor: pointer;

/* Estilos adicionales para dispositivos móviles */
@media screen and (max-width: 480px) {
    .container {
        max-width: 100%;
        padding: 10px;
    }

    input[type="text"],
    select {
        width: 100%;
        margin-right: 0;
    }
}
