/* Estilos generales */
body {
    font-family: Arial, sans-serif;
    background-color: #333;
    margin: 0;
    padding: 0;
    color: #fff;
}

.container {
    max-width: 400px;
    margin: 0 auto;
    padding: 20px;
    background-color: rgba(255, 255, 255, 0.9);
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    border-radius: 5px;
}

h1 {
    text-align: center;
    color: #007bff;
}

/* Estilos para la lista de tareas */
#app {
    text-align: center;
    margin-top: 20px;
}

input[type="text"] {
    padding: 10px;
    width: 70%;
    margin-right: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 16px;
    color: #333;
    background-color: rgba(255, 255, 255, 0.9);
}

select {
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 16px;
    color: #333;
    background-color: rgba(255, 255, 255, 0.9);
}

button#addTaskButton {
    padding: 10px 20px;
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
}

ul {
    list-style-type: none;
    padding: 0;
}

li {
    margin: 10px 0;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: #fff; /* Cambia el color del texto de la tarea a blanco */
}

button.delete-button {
    padding: 5px 10px;
    background-color: #dc3545;
    margin-right: 10px;
    color: black; /* Cambia el color del texto a negro */
    border: none;
    border-radius: 5px;
    font-size: 14px;
    cursor: pointer;
}
    

button.edit-button {
    background-color: #ffc107;
    padding: 5px 10px;
    margin-right: 10px;
    color: black; /* Cambia el color del texto a negro */
    border: none;
    border-radius: 5px;
    font-size: 14px;
    cursor: pointer;
}

/* Estilos adicionales para dispositivos móviles */
@media screen and (max-width: 480px) {
    .container {
        max-width: 100%;
        padding: 10px;
    }

    input[type="text"],
    select {
        width: 100%;
        margin-right: 0;
    }

    /* Estilos adicionales para el contenedor de lista de tareas en dispositivos móviles */
    #taskListContainer {
        max-height: calc(100vh - 200px); /* Ajusta la altura según tus necesidades */
        overflow-y: auto;
        scrollbar-width: 50px; /* Ancho de la barra de desplazamiento */
        scrollbar-color: #007bff rgba(0, 0, 0, 0.1); /* Colores de la barra de desplazamiento */
        border: 1px solid #ccc;
        border-radius: 5px;
        background-color: rgba(146, 146, 146, 0.9);
        padding: 10px;
        margin-top: 10px;
        box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    }
    
    ul {
        list-style-type: none;
        padding: 0;
        margin: 0; /* Añade este estilo para quitar el margen predeterminado en el ul */
    }

    li {
        margin: 10px 0;
        padding: 10px;
        border: 1px solid #ccc;
        border-radius: 5px;
        display: flex;
        justify-content: space-between;
        align-items: center;
        color: #fff;
    }

    /* Establece el ancho de la barra de desplazamiento en navegadores WebKit (como Chrome y Safari) */
    #taskListContainer::-webkit-scrollbar {
        width: 10px; /* Ajusta el ancho según sea necesario */
    }

    /* Establece el color de fondo de la barra de desplazamiento en navegadores WebKit */
    #taskListContainer::-webkit-scrollbar-track {
        background-color: rgba(0, 0, 0, 0.1); /* Color de fondo de la barra de desplazamiento */
    }

    /* Establece el color de la barra de desplazamiento en navegadores WebKit */
    #taskListContainer::-webkit-scrollbar-thumb {
        background-color: #007bff; /* Color de la barra de desplazamiento */
        border-radius: 5px; /* Borde redondeado de la barra de desplazamiento */
    }
}
