body {
    font-family: Arial, sans-serif;
    background-color: #333; /* Cambia el color de fondo a uno más oscuro */
    margin: 0;
    padding: 0;
    color: #fff; /* Cambia el color del texto a blanco */
}

.container {
    max-width: 400px;
    margin: 0 auto;
    padding: 20px;
    background-color: rgba(255, 255, 255, 0.9); /* Fondo semi-transparente */
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    border-radius: 5px;
}

h1 {
    text-align: center;
    color: #007bff; /* Cambia el color del título a azul */
}

#app {
    text-align: center;
    margin-top: 20px;
}

input[type="text"] {
    padding: 10px;
    width: 70%;
    margin-right: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 16px;
    color: #333; /* Cambia el color del texto de entrada a oscuro */
    background-color: rgba(255, 255, 255, 0.9); /* Fondo semi-transparente */
}

button#addTaskButton {
    padding: 10px 20px;
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
}

ul {
    list-style-type: none;
    padding: 0;
}

li {
    margin: 10px 0;
    padding: 10px;
    background-color: rgba(255, 255, 255, 0.9); /* Fondo semi-transparente */
    border: 1px solid #ccc;
    border-radius: 5px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: #333; /* Cambia el color del texto del elemento de lista a oscuro */
}

button.delete-button,
button.edit-button {
    padding: 5px 10px;
    background-color: #dc3545;
    color: white;
    border: none;
    border-radius: 5px;
    font-size: 14px;
    cursor: pointer;
}

button.edit-button {
    background-color: #ffc107;
    margin-right: 10px;
}

@media screen and (max-width: 480px) {
    /* Estilos adicionales para dispositivos móviles */
    .container {
        max-width: 100%;
        padding: 10px;
    }

    input[type="text"] {
        width: 100%;
        margin-right: 0;
    }
}
